@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat&family=Lobster&family=Raleway:wght@100;200;300&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@keyframes fadeIn {
    0% {translate: 0% -30%; 
        opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes fadeOut {
    0% { 
        opacity: 1; }
    100% {
        translate: 0% -60%; 
        opacity: 0; 
    }
  } 
  @keyframes sectionfadeIn {
    0% {translate: 0% 100%; 
        opacity: 0; }
    40%{opacity: 0;}
    100% { opacity: 1; }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
.bouncein{
    animation: bounce-in-top 1.2s;
}
.fadein{
    display: flex;
    animation: sectionfadeIn 3s;
}
.fadeout{
    transition: 2s;opacity: 0;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.popupback{
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1.5em;
    font-family: 'Lobster';
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
    padding: 0.1em 2em;
    box-shadow: 0px 8px 6px rgba(111, 208, 181,0.3);
    animation: fadeIn 1s;
    z-index: 99;
}
.popupback img{
    width: 40px;
    margin-right: 0.5em;
}
.popupback:hover{
    text-shadow: 2px 2px rgba(208, 111, 111, 0.3);
    box-shadow: 0px 8px 6px rgba(208, 111, 111, 0.3);
}
.popupback:hover img{
    transition: 100ms;
    transform: rotate(-30deg);
}
.popupfrog{
    position: absolute;
    display: none;
    flex-wrap: wrap;
    align-items: last baseline;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
.popupfrog img{
    width: 600px;
}
.imagecontact img{
    width: 400px;
}

#s1{
    color: white;
}
#s2{
    background: linear-gradient(0deg, rgba(190,250,251,1) 0%, rgba(255,255,255,1) 100%);
    background-image: url('./assets/pondbg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
}
.nameinput{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0.5em;
    margin: 0.8em;
    text-align: center;
    width: 10em;
    background-color: rgba(111, 208, 181,0.6);
    border-radius: 1em;
    color: white;
    font-family: 'Amatic SC';
    font-size: 5em;  
    box-shadow: 0px 8px 30px rgba(111, 208, 181,0.6);
    animation: fadeIn 2s;
}
.nameinput input{
    height: 1.2em;
    width: 20rem;
    font-family: 'Amatic SC';
    text-align: center;
    color: rgb(240, 255, 30);
    font-size: 5rem;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid white;
    background-color: transparent;
}
.nameinput input::placeholder{
    color: lightseagreen;
}
.nameinput input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}
.nameinput input:focus::placeholder{
    color: transparent;
}
.nameinput button{
    cursor: pointer;
    margin-top: 0.5em;
    width: fit-content;
    font-family: 'Amatic SC';
    font-size: 4rem;
    color: white;
    border: 3px solid yellow;
    padding: 0.1em 0.8em;
    border-radius: 0.5em;
    transition: all 100ms;
    background-color: rgb(111, 208, 181);
}
.nameinput button:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px rgba(0,0,0,0.2);
}
.nameinput button:active{
    transform: scale(0.95);
    opacity: 0.6;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
}
.frog{
    height: 230px;
    cursor: pointer;
    position: relative;
    top: -280px;
    left: 200px;
}
.frog p{
    margin: 0;
    font-family: 'Amatic SC';
    font-size: 4em;
    text-shadow: 2px 2px rgb(255, 98, 0);
    text-align: center;
    z-index: 3;
}
.frog:hover p{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 255, 157);
    translate: 0px -15px;
    transition: 100ms;
}
.frog:hover .frogimg{
    transition: 400ms;
    filter: grayscale();
}
.frogimg{
    position: relative;
    top: -50px;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-image: url('./assets/frogfloat.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15px -20px;
}
#feet{
    translate: -80px 220px;
}
#feet p{
    text-shadow: 2px 2px rgb(255, 170, 0);
}
#feet:hover .feetimg{
    transition: 400ms;
    filter: grayscale();
}
.feetimg{
    position: relative;
    top: -50px;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-image: url('./assets/feetloop.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15px -20px;
}
#contactme{
    translate: -600px 260px; 
}
#contactme p{
    width: 200px;
    text-shadow: 2px 2px rgb(217, 255, 0);
}
.mailbox{
    position: relative;
    top: -50px;
    z-index: 2;
    width: 300px;
    height: 300px;
    background-image: url('./assets/mailbox.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30px 0px;
}
#contactme:hover .mailbox{
    background-image: url('./assets/mailboxopen.gif');
    transition: 400ms;
    filter: grayscale();
}
.pond{
    position: relative;
    top: -350px;
    left: 10px;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-image: url('./assets/pond.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30px 0px;
}
#s3{

}
#s3 .content h2,#s5 .content h2{
    user-select: none;
    width: 100%;
    font-family: 'Lobster';
    font-size: 2.4em;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid palevioletred;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    width: 500px;
    padding: 2em 1em 2em 2em;
    border-radius: 30px;
    box-shadow: 0px 16px 32px rgba(0,0,0,0.1);
}
#page1{
    align-items: start;
}
#softskills li,#hardskills li{
    user-select: none;
    padding:0.2em 1em;
    font-family: 'Raleway';
    font-size: 1.3em;
}
.studies{
    width: 90%;
}
.studies p{
    display: inline;
    width: 100%;
    margin: 0.5em;
}
.line{
    display: flex;
    font-family: 'raleway';
    margin-bottom: 0.1em;
}
.annee{
    user-select: none;
    font-family: 'lobster';
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
    text-align: center;
    font-size: 1.3em;
    width: 120px;
    height: 1.5em;
    background-color: rgb(241, 161, 186);
    padding: 0.4em 0.8em;
    border-radius: 1em;
    margin: 0.5em;
}
#page2 h2{
    border-bottom: 1px solid rgb(111, 208, 181);
}
#page2 .annee{
    background-color: rgb(111, 208, 181);
}
.matiereecole{
    user-select: none;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.matiere{
    margin-right: 1em; 
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.1em;
}
.ecole{
    font-size: 1.1em;
}
#jobs{
    display: none;
}
.job{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0em;
}
.jobcontent{
    width: 300px;
    font-family: 'Raleway';
}
.jobfonction{
    font-size: 1.4em;
    font-weight: bold;
}
.jobemployeur{
    font-size: 1.3em;
}
.jobdescription{
    font-size: 1.1em;
    color: gray;
    margin-top: 0.2em;
}
.carroussel{
    display: flex;
    align-items: center;
}
#page4,#page5{
    align-items: start;
}
#page4 h3,#page5 h3{
    user-select: none;
    font-family: 'Lobster';
    font-size: 1.4em;
    margin-top: 1em;
    margin-left: 1em;
}
#page4 ul,#page5 ul{
    user-select: none;
    font-family: 'Raleway';
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    padding-left: 2em;
}
.star{
    width: 20px;
    translate: 0px 2px;
}
#s4{
    overflow: auto;
}
#s4 .content h2{
    user-select: none;
    width: 100%;
    font-family: 'Lobster';
    font-size: 2.4em;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid palevioletred;
}
.grille{
    padding: 1em 1em 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.gridunit{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 480px;
    color: black;
    overflow: hidden;
    transition: all 300ms;
}
.projetnom{
    display: flex;
    position: relative;
    align-items: center;
    height: 30px;
    width: 100%;
    font-family: 'Amatic SC';
    font-size: 2em;
    padding: 0.5em 0.6em;
    color: white;
    z-index: 3;
    background-color: rgba(0,0,0,0.6);
}
.projetimage img{
    position: relative;
    top:-61px;
    width: 500px;
}
.projetdescription{
    font-family: 'Raleway';
    font-size: 1.5em;
    padding: 0em 1em;
    translate: 0em -1.5em;
}
.projeturl{
    font-family: 'Amatic SC';
    font-size: 2em;
    translate: 1em -1em;
}
.descr{
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
.actif{
    height: auto;
    border-radius: 10px 0 0 10px;
}
.bouton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('./assets/arrow.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 16px 32px rgba(0,0,0,0.1);
}
.inactif{
    cursor: none;
    pointer-events: none;
    opacity: 0.2;
}
#left{
    cursor: pointer;
    translate: 50px 0px;
}
#right{
    cursor: pointer;
    transform: scaleX(-1);
    translate: -50px 0px;
}
.accordeon{
}
#s5 .imagecontact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#s5 .imagecontact p{
    font-family: 'Amatic SC';
    font-size: 2em;
    margin: 0.2em;
}
#s5 .content h2{
    font-family: 'Amatic SC';
    font-size: 3em;
}
#s5 .imagecontact .annee{
    padding: 0em 0.5em;
    background-color: rgb(111, 208, 181);
}
@media screen and (max-width:600px) {
    *{
        transform: scale(0.9);
    }
    body{
        overflow: auto;
    }
    .popupback{
        font-size: 1em;
        translate: 0px -40px;
        z-index: 9;
        padding: 0.8em 3em;
        animation: bounce-in-top 1.2s;
    }
    .popupback img{
        display: none;
    }
    .gridunit *{
        transform: scale(1);
    }
}